### [문제2]30120_최건

In [0]:
a = 10
b = 20
a
b

20

In [0]:
a, b = 3, 5
print('a',a,'b', b, sep = '-')

a-3-b-5

### List

In [0]:
num = [1,2,3,4,5]

In [0]:
print(type(num),num)
stu = ['학생1','학생2','학생3']
arr =[[10,13,14], ['a','s','b','d']]

<class 'list'> [1, 2, 3, 4, 5]

In [0]:
print(type(arr),arr,type(stu),stu)

<class 'list'> [[10, 13, 14], ['a', 's', 'b', 'd']] <class 'list'> ['학생1', '학생2', '학생3']

In [0]:
num[0],stu[1],stu[:-1],arr[1][1]

(1, '학생2', ['학생1', '학생2'], 's')

In [0]:
Menu = ['딸기','망고','스타프룻','수박']
print(Menu)

['딸기', '망고', '스타프룻', '수박']

In [0]:
Menu = ['딸기','망고','스타프룻','수박']
for i in Menu :
    print('메뉴 : '+ i)

메뉴 : 딸기
메뉴 : 망고
메뉴 : 스타프룻
메뉴 : 수박

In [0]:
Menu = ['딸기','망고','스타프룻','수박']
for i, con in enumerate(Menu) :
    print(i+1,'번', Menu[i])

1 번 딸기
2 번 망고
3 번 스타프룻
4 번 수박

In [7]:
import random as r
Menu = ['딸기','망고','스타프룻','수박']
r.shuffle(Menu)
for i, con in enumerate(Menu) :
    print(i,'번', Menu[i])

0 번 망고
1 번 스타프룻
2 번 딸기
3 번 수박

In [0]:
r.choice(Menu)

'딸기'

### For

In [0]:
for i in range(1,6,2) :
    print(i)

1
3
5

In [0]:
for i in range(1,6) :
    for j in range(1,6) :
        print(j,end=' ')
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [0]:
for i in range(1,6,) :
    for j in range(5,0,-1) :
        print(j,end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

### 문제은행

In [10]:
name = ['김덕민','이상현','차민준','최연우','최건']
print(name)

['김덕민', '이상현', '차민준', '최연우', '최건']

In [0]:
stu = [5,[1,2,3],['민우','민영','민재']]
for i, con in enumerate(stu) :
    print(i+1,'번은', stu[-1][i])

1 번은 민우
2 번은 민영
3 번은 민재

In [0]:
lunch = ['빵','잼','우유']
print(lunch)

['빵', '잼', '우유']

In [13]:
r.shuffle(name)
print(r.randint(1,100))
print(name)
name.sort()
print(name)

46
['김덕민', '이상현', '최연우', '최건', '차민준']
['김덕민', '이상현', '차민준', '최건', '최연우']

In [20]:
a = list(map(int, input('숫자입력 5개 >>>>> ').split(',')))
print(a)
a.sort()
print(a)
a.sort(reverse=True)
print(a)

숫자입력 5개 >>>>> 8,7,3,5,9
[8, 7, 3, 5, 9]
[3, 5, 7, 8, 9]
[9, 8, 7, 5, 3]

In [0]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [0]:
menu = ['피자','치킨','닭발','라면','돈가스']
for i, con in enumerate(menu) :
    print(i+1,'번', menu[i])

1 번 피자
2 번 치킨
3 번 닭발
4 번 라면
5 번 돈가스

In [0]:
b=0
for i in range(1,100,2):
    print(i, end = ' ')
    b = b + i
print('\n합계 :',b)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99
합계 : 2500

In [0]:
for i in range(1,10):
    for j in range(2,10):
        print(j,'x',i,'=',i*j,end='\t')
    print()

2 x 1 = 2	3 x 1 = 3	4 x 1 = 4	5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9
2 x 2 = 4	3 x 2 = 6	4 x 2 = 8	5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18
2 x 3 = 6	3 x 3 = 9	4 x 3 = 12	5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27
2 x 4 = 8	3 x 4 = 12	4 x 4 = 16	5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36
2 x 5 = 10	3 x 5 = 15	4 x 5 = 20	5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45
2 x 6 = 12	3 x 6 = 18	4 x 6 = 24	5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54
2 x 7 = 14	3 x 7 = 21	4 x 7 = 28	5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63
2 x 8 = 16	3 x 8 = 24	4 x 8 = 32	5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72
2 x 9 = 18	3 x 9 = 27	4 x 9 = 36	5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81