### for문으로 list

In [1]:
n = [1,2,3,4,5]
n ,type(n)

([1, 2, 3, 4, 5], list)

In [5]:
nu = list(range(1,11))
nu ,type(nu)

([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], list)

In [7]:
for i in nu :
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

In [8]:
for i in nu :
    if i%2 == 0:
        print(i,': 짝수')
    else :
        print(i,': 홀수')

1 : 홀수
2 : 짝수
3 : 홀수
4 : 짝수
5 : 홀수
6 : 짝수
7 : 홀수
8 : 짝수
9 : 홀수
10 : 짝수

In [10]:
sub = ['국','영','수','정보']
for i in range(len(sub)):
    print(i+1,'교시',sub[i])

1 교시 국
2 교시 영
3 교시 수
4 교시 정보

In [11]:
for i, val in enumerate(sub):
    print(i+1,val)

1 국
2 영
3 수
4 정보

In [47]:
for i in range(len(sub)):
    if sub[i] == '정보' :
        print(i+1,'교시',sub[i],'해당')
    else :
        print(i+1,'교시',sub[i],'해당없음')

1 교시 국 해당없음
2 교시 영 해당없음
3 교시 수 해당없음
4 교시 정보 해당

In [14]:
for i in range(1,11) :
    if i % 2 == 0 :
        print('파이썬')
    else :
        print('야~ 나도 파이썬 할 수 있어')

야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬
야~ 나도 파이썬 할 수 있어
파이썬

### List 활용

In [49]:
js = '          인천광역시 중구 참외전로 6번지 3층 창의관          '
js, type(js),len(js)

('          인천광역시 중구 참외전로 6번지 3층 창의관          ', str, 44)

In [52]:
js = js.strip()

In [53]:
js, len(js)

('인천광역시 중구 참외전로 6번지 3층 창의관', 24)

In [54]:
ad = js.split()

In [55]:
ad, len(ad), type(ad)

(['인천광역시', '중구', '참외전로', '6번지', '3층', '창의관'], 6, list)

In [56]:
ad[:2], ad[3:]

(['인천광역시', '중구'], ['6번지', '3층', '창의관'])

In [57]:
js.startswith('인천')

True

In [62]:
js.endswith('관')

True

In [59]:
'광주광역시' in ad

False

In [61]:
'서울' in js

False

### format과 %

In [30]:
s = 'A is {}, {}'
pr = s.format('사과', '오렌지')
print(pr)

A is 사과, 오렌지

In [33]:
info_1 = '학교 : {} 힉번 : {} 이름 : {}'
p = info_1.format('인천정보산업고', 20101, '최정보')
print(p)

학교 : 인천정보산업고 힉번 : 20101 이름 : 최정보

### %s, %d, %f.2...%

In [42]:
info_2 = '학교 : %s 학번 : %d 성적 : %2.2f'
p = info_2%("송도고", 20101, 90.08)
print(p)

학교 : 송도고 학번 : 20101 성적 : 90.08

In [46]:
info_3 = '%s %d 개 가격은 %.2f $'
p = info_3%("햄버거", 2, 8.0)
print(p)

햄버거 2 개 가격은 8.00 $

### 문제 1 30 ~ 50 까지 홀수만 출력

In [65]:
for i in range(31,51) :
    if i%2 != 0:
        print(i)

31
33
35
37
39
41
43
45
47
49

### 문제 2 아이디(문자)를 입력받아 동일하면 
* 안녕하세요 회원님

* 회원가입 하세요

In [66]:
playerid = '히히 못가!'
ID = input("아이디를 입력해라 >>> ")
if ID == playerid :
    print("안녕하세요 회원님")
else :
    print("회원가입 하세요")

아이디를 입력해라 >>> 히히 못가!
안녕하세요 회원님

### 문제 3 입력에 인천정보산업고/30105/김장민 입력받아
* 학교 : 인천정보산업고

* 학번 : 30105

* 이름 : 김장민

In [68]:
pn = input("학교/학번/이름 입력 >>> ").split('/')
print('학교 :',pn[0])
print('학번 :',pn[1])
print('이름 :',pn[2])

학교/학번/이름 입력 >>> 인정산/30120/최건
학교 : 인정산
학번 : 30120
이름 : 최건

### 문제 4 숫자데이터 5개 입력반기
* 합계

* 평균

In [85]:
mt = list(map(int, input("숫자 5개 입력해라 닝겐 >>> ").split()))
print('합계 :',sum(mt))
print('평균 :',sum(mt)/len(mt))

숫자 5개 입력해라 닝겐 >>> 1 3 5
합계 : 9
평균 : 3.0