<a href="https://colab.research.google.com/github/Asirante/Python_2020_Basic/blob/master/19%ED%9A%8C%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### boolean

In [ ]:
print(True == False)
print(True != 0)
print(False == 0)
print(True or False)
print(1 == '1')

False
True
True
True
False

### 창의예제

In [ ]:
print(True == 1)
print(False != 1)
print(0 == 1)

True
True
False

### 문자열

In [ ]:
eng = 'Korea COVID 19'
print(eng.lower())
print(eng.upper())

korea covid 19
KOREA COVID 19

### 창의예제

In [ ]:
ko = 'Cha Min Su June Ge'
print(ko.lower())
print(ko.upper())

cha min su june ge
CHA MIN SU JUNE GE

### Lists []

In [ ]:
data = []
data.append('java')
print(data[0], data[-1], data[1:], data[:2])
data.sort()
print(data)
data.reverse()
print(data)

java java [] ['java']
['java']
['java']

### 창의예제

In [ ]:
cl = ['Java', 'Python']
cl.append('C')
print(cl[0], cl[-1], cl[1:], cl[:2])
cl.sort()
print(cl)
cl.reverse()
print(cl)

Java C ['Python', 'C'] ['Java', 'Python']
['C', 'Java', 'Python']
['Python', 'Java', 'C']

### Tuple () 
변동이 안된다.

In [ ]:
b = (1,2,3, '사', '오')
print(b)
c = 1,2,3
print(c)
print(type(b), type(c))
#b [3] = 4
print(b[3:], b[1:4])

(1, 2, 3, '사', '오')
(1, 2, 3)
<class 'tuple'> <class 'tuple'>
('사', '오') (2, 3, '사')

### 창의예제

In [ ]:
d = 1,3,5
e = ('d','e','s')
print(d)
print(e)
print(type(d), type(e))
#d [2] = 1
print(d[1:],e[:2])

(1, 3, 5)
('d', 'e', 's')
<class 'tuple'> <class 'tuple'>
(3, 5) ('d', 'e')

### Dictionay {}

In [ ]:
dic = {'name1' : '경민', '학번1' : 20103, 'name2' : '경민2', '학번2' : 20104}
print(dic.get('name1'))
print(dic.keys())
print(dic.values())

경민
dict_keys(['name1', '학번1', 'name2', '학번2'])
dict_values(['경민', 20103, '경민2', 20104])

### set {}

In [ ]:
lunch = {'햄버거', '치킨', '라면', '콜라', 10000}
dinner = {'피자', '족발', '라면', '콜라', 10000}
print(lunch & dinner)
print(lunch | dinner)

{10000, '라면', '콜라'}
{'피자', '치킨', '라면', '햄버거', 10000, '족발', '콜라'}

### Pandas의 두가지 기본 구조

Vector 형태의 Series

Matrix 형태의 DataFrame

In [ ]:
import pandas as pd
pd.__version__

'0.25.1'

In [ ]:
s1 = pd.core.series.Series([1,2,3])
s2 = pd.core.series.Series(['일', '이', '삼'])
pd.DataFrame(data = dict(num = s1, word = s2))

   num word
0    1    일
1    2    이
2    3    삼

In [ ]:
num_se = pd.Series([1,2,3,4,5])
num_df = pd.DataFrame([1,2,3,4,5], index = [1,2,3,4,5])
num_df

   0
1  1
2  2
3  3
4  4
5  5

### Dict을 이용한 DataFrame 생성

In [ ]:
man = [
    {'name':'은주', 'age':20,'jab':'j1'},
    {'name':'민서', 'age':30,'jab':'j2'},
    {'name':'경민', 'age':15,'jab':'j3'}
]
df = pd.DataFrame(man, index = [1,2,3])
df

  name  age jab
1   은주   20  j1
2   민서   30  j2
3   경민   15  j3

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6]
df = [a, b]
pd.DataFrame(df, index = [1,2], columns = ['a','b','c'])

   a  b  c
1  1  2  3
2  4  5  6

### 리스트의 프레임

In [ ]:
person = [
    ['a',100,80],['b',17,60],['c',50,40],['d',90,80]
]
col_name = ['name', '국어', '영어']
df = pd.DataFrame.from_records(person, columns = col_name, index = [1,2,3,4])

df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

### 자신만의 데이터를 만들고 데이터프레임으로 출력해보기

In [ ]:
i = [
    ['차민수',46,66],
    ['한더덕',93,86],
    ['이소금',65,72],
    ['요호호',100,100]
]
col_name = ['name', '사회','과학']

df = pd.DataFrame.from_records(i, columns = col_name, index = [1,2,3,4])

df[['사회', '과학']]>50

      사회    과학
1  False  True
2   True  True
3   True  True
4   True  True

### 다음과 같은 프레임 출력해보기

j = [
    [30102,90,30,50],[30101,100,100,90],[30303,80,100,70],[30501,70,100,100]
]
cn = ['학번','Java','Python','C','합계']

df = pd.DataFrame.from_records(j, columns = cn)