<a href="https://colab.research.google.com/github/Asirante/Python_2020_Basic/blob/master/2%EC%9D%BC%EC%B0%A8_2%EA%B5%90%EC%8B%9C_Input.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = input("이름 : ")
print(a)

이름 : a = input("이름 : ") print(a)
a = input("이름 : ") print(a)

In [6]:
b = input("나이 : ")
print(b)

나이 : 19
19

In [8]:
type(b)

str

In [13]:
c = int(b)
c, type(c)

(19, int)

In [0]:
d = input("식 입력 : ")
e = eval(d)
print(e)

In [16]:
year = int(input("출생년도 : "))
print("한국나이 : ",2020-year+1)

출생년도 : 2002
한국나이 :  19

**Format** 
서식지정자

In [18]:
s = 'a is {}'
s.format('apple')

'a is apple'

In [19]:
a = '%s %d 개 가격은 %.2f 달러'
b = a %('치즈버거의 치즈',2,0.5*2)
print(a)
print(b)

%s %d 개 가격은 %.2f 달러
치즈버거의 치즈 2 개 가격은 1.00 달러

In [21]:
#치킨 2마리 가격은 40000원
a = '%s %d 마리 가격은 %.2d 원'
b = a %('치킨',2,20000*2)
print(a)
print(b)

%s %d 마리 가격은 %.2d 원
치킨 2 마리 가격은 40000 원