<a href="https://colab.research.google.com/github/Asirante/Python_2020_Basic/blob/master/7%EC%9D%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1번**

In [2]:
jumsu = [100,75,67,45,80]
for i, val in enumerate(jumsu) :
  if val >= 60 :
    print("%d 번 학생은 합격입니다."%(i+1))
  else : 
    print("%d 번 학생은 불합격입니다."%(i+1))

1 번 학생은 합격입니다.
2 번 학생은 합격입니다.
3 번 학생은 합격입니다.
4 번 학생은 불합격입니다.
5 번 학생은 합격입니다.

**2번**

In [5]:
import pandas as pd
covid = [['인천','30','12','1'],['부산','40','350','4'],['대구','70','650','31'],['서울','50','10','4'],['제주','10','5','0']]
df = pd.DataFrame(covid)
df.index = [1,2,3,4,5]
df.columns = ['지역','병상','확진자','사망자']
df

   지역  병상  확진자 사망자
1  인천  30   12   1
2  부산  40  350   4
3  대구  70  650  31
4  서울  50   10   4
5  제주  10    5   0